
<div class="row">
  <div class="col-sm-8">
    <input class="form-control" type="text" [(ngModel)]="listFilter" >
  </div>
  <div class="col-sm-4">
    <a type="button" class="btn btn-primary float-right" [routerLink]="['/services', 0, 'edit']">Add Service</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Rate</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of filteredServices">
      <th scope="row">{{service.number}}</th>
      <td><a [routerLink]="['/services', service.id]">{{service.name}}</a></td>
      <td>{{service.description}}</td>
      <td>{{service.price}}</td>
      <td>
        <app-rate [rating]='service.rate' (notify)="onNotify($event)"></app-rate>
      </td>
      <td>
        <a type="button" class="btn btn-primary btn-sm" [routerLink]="['/services', service.id, 'edit']">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
