<p>services works!</p>

<div class="row">
  <div class="col-sm-12">
    <input class="form-control" type="text" [(ngModel)]="listFilter" >
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
</div>

icon font
<i class="fas fa-star"></i>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Rate</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of filteredServices">
      <th scope="row">{{service.number}}</th>
      <td>{{service.name}}</td>
      <td>{{service.description}}</td>
      <td>{{service.price}}</td>
      <td>
        <app-rate [rating]='service.rate' (notify)="onNotify($event)"></app-rate>
      </td>
      <td>
        <a type="button" class="btn btn-info btn-sm" [routerLink]="['/services', service.id]">See</a>
      </td>
    </tr>
  </tbody>
</table>
